.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 65px;
  width: 74px;
  z-index: 200;
  padding-top: 5px;
  background-color: black;
}

.sidebar-link {
  filter: invert(1);
  height: 75px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link .tooltip {
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  left: 90px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar-link:hover .tooltip {
  opacity: 1;
}

.sidebar-link:hover {
  background-color: rgb(233, 233, 233);
}

.sidebar-link img {
  height: 30px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 9px;
  font-family: Roboto, Arial;
}
